body {
  font-family: Roboto, sans-serif;
}

p, h2 {
  margin: 0;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  &-center {
    padding-right: 33px;
    padding-left: 34px;
  }
  & + & {
    margin-top: 20px;
  }
}

.subtitle {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }

  .text {
    font-size: 24px;
    line-height: 28px;
    &-center {
      padding-right: 77px;
      padding-left: 77px;
    }
  }
}

@media (min-width: 1024px) {
  .center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
  }
}