.bluetooth {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 42px;
  padding-bottom: 22px;

  background-color: #ededed;


  &__icon {
    margin-bottom: 27px;
  }
  &__img {
    height: 284px;
    background-image: url(../img/bluetooth-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  & .subtitle {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .bluetooth {
    padding-top: 80px;
    padding-bottom: 3px;

    & .subtitle {
      font-size: 150px;
      line-height: 176px;
    }
    &__img {
      height: 597px;
      margin-right: 19px;
      margin-left: 39px;
    }

    &__icon {
      width: 20px;
      height: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .bluetooth {
    &__img {
      height: 427px;
      width: 100%;
      margin-bottom: 69px;
      margin-left: 0;

      display: flex;
      justify-content: center;
      align-items: flex-start;

      background: url(../img/bluetooth-bg-desk.png) no-repeat bottom right, url(../img/bluetooth-bg-2-desk.png) no-repeat bottom left;
      background-size: 48%;
    }

    & .subtitle {
      font-size: 96px;
      line-height: 112px;

      display: flex;
      align-items: flex-start;
    }
    
    &__giant {
      font-size: 300px;
      line-height: 253px;
      margin-left: 250px;
    }

    &-center {
      width: 100%;
      padding-left: calc(50% - 622px);
      padding-right: calc(50% - 622px);
    }
  }
}