.header {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;

  &__nav {
    display: none;
  }
}

.nav {
  &__list {
    display: none;
    list-style-type: none;
    &--item {
      padding: 8px 0 8px 0;

      &:not(:last-child) {
        border-right: 1px solid #494949;
        padding-right: 21px;
      }

      &:not(:first-child) {
        padding-left: 21px; 
      }
    }

    &--link {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      text-decoration: none;
      
      &:hover {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
        padding-bottom: 8px;
        border-bottom: 1px solid #fff;
      }
    }
  }

}

.logo {
  width: 130px;
  &_light {
    display: none;
  }
}

.hero {
  background-color: #e0e1e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 48px;
  &__img {
    height: 256px;
    width: 100%;
    margin-bottom: 41px;
    background-image: url(../img/hero-tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__arrow {
    margin-top: 40px;
    width: 42px;
    height: 22px;
  }
  & .text {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 160px;
    &__nav {
      display: flex;
    }
  }

  .hero {
    padding-top: 56px;
    padding-bottom: 80px;
    &__img {
      height: 514px;
    }
    & .text {
      margin-right: 159px;
      margin-left: 150px;
    }
    &__arrow {
      margin-top: 76px;
      width: 57px;
      height: 29px;
    }
  }

  .logo {
    width: 240px;
  }
}

@media (min-width: 1024px) {
  .logo_dark {
    display: none;
  }

  .logo_light {
    display: block;
  }

  .logo {
    width: 150px;
  }

  .header {
    background-color: #2f3132;
    width: 100%;
    height: 100px;
    margin-bottom: 0;

    align-items: center;
    justify-content: space-between;
  }
  .nav {
    &__list {
      display: flex;
      // &--item {
      //   &:not(:last-child) {
      //     padding-right: 20px;
      //   }
  
      //   &:not(:first-child) {
      //     padding-left: 20px; 
      //   }
      // }
    }
  }

  .hero {
    padding-top: 0;
    
    & .title {
      font-size: 36px;
    }

    &__img {
      margin-top: 20px;
      margin-bottom: 0;
      height: 671px;
      padding-top: 80px;
    }

    &__arrow {
      margin-top: 49px;
    }
  }
}