.header {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;

  &__nav {
    display: none;

    &--mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #2F3132;
      padding: 70px 10px 20px 10px;
      transition: all 0.2s linear;
      z-index: 2;
      &.active {
        top: 0;
      }

      & .nav {
        &__list {
          &--link {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #C4C4C4;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover {
              font-weight: 900;
              font-size: 20px;
              line-height: 23px;
              text-align: center;
              color: #FFFFFF;
              text-decoration: underline;
              padding: 0;
              border-bottom: none;
            }
          }
          &--item--mobile  {
            margin-bottom: 32px;
          }
        }
        &__list--mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          list-style-type: none;
      

        }
      }
    }
  }
}

.hero-active {
  padding: 0;
}



.burger {
  display: block;
  position: absolute;
  right: 28px;
  top: 25px;
  width: 30px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  & span {
    background-color: #2F3132;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
  }
  &:before,
  &:after {
    transition: all 0.2s linear;
    content: '';
    background-color: #2F3132;
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &.active {
    &:before {
      transform: rotate(45deg);
      top: 8px;
      background-color: #fff;
    }
    &:after {
      transform: rotate(-45deg);
      bottom: 8px;
      background-color: #fff;
    }
    & span {
      transform: scale(0);
      background-color: #fff;
    }
  }
}

.nav {
  &__list {
    display: none;
    list-style-type: none;
    &--item {
      padding: 8px 0 8px 0;

      &:not(:last-child) {
        border-right: 1px solid #494949;
        padding-right: 21px;
      }

      &:not(:first-child) {
        padding-left: 21px; 
      }
    }

    &--link {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      text-decoration: none;
      
      &:hover {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
        padding-bottom: 8px;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.logo {
  width: 130px;
  &_light {
    display: none;
    &-mobile {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.hero {
  background-color: #e0e1e2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 48px;
  &__img {
    height: 256px;
    width: 100%;
    margin-bottom: 41px;
    background-image: url(../img/hero-tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__arrow {
    margin-top: 40px;
    width: 42px;
    height: 22px;
  }
  & .text {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 160px;
    &__nav {
      display: flex;

      &--mobile {
        padding-top: 400px;
        .nav {
          &__list {
            &--link {
              font-size: 40px;
              line-height: 47px;
            }

            &--item--mobile {
              margin-bottom: 59px;
            }
          }
        }
      }

    }
  }

  .burger {
    right: 58px;
    top: 54px;
    height: 40px;
    width: 60px;

    & span {
      height: 8px;
      top: 16px;
    }

    &:before,
    &:after {
      height: 8px;
    }
    &.active {
      &:before {
        top: 16px;
      }
      &:after {
        bottom: 16px;
      }
    }
  }

  .hero {
    padding-top: 56px;
    padding-bottom: 80px;
    &__img {
      height: 514px;
    }
    & .text {
      margin-right: 159px;
      margin-left: 150px;
    }
    &__arrow {
      margin-top: 76px;
      width: 57px;
      height: 29px;
    }
  }

  .logo {
    width: 240px;
    &_light-mobile {
      top: 64px;
    }
  }
}

@media (min-width: 1024px) {
  .logo_dark {
    display: none;
  }

  .logo_light {
    display: block;

  }

  .logo {
    width: 150px;
  }

  .burger {
    display: none;
  }

  .header {
    background-color: #2f3132;
    width: 100%;
    height: 100px;
    margin-bottom: 0;

    align-items: center;
    justify-content: space-between;

    &__nav {
      
      &--mobile {
        display: none;
      }
    }
  }
  .nav {
    &__list {
      display: flex;
    }
  }

  .hero {
    padding-top: 0;
    
    & .title {
      font-size: 36px;
    }

    &__img {
      margin-top: 20px;
      margin-bottom: 0;
      height: 671px;
      padding-top: 80px;
    }

    &__arrow {
      margin-top: 49px;
    }
  }
}