.mouse {
  
  &__text {
    padding-top: 70px;
    padding-bottom: 20px;
  }

  &__img {
    height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__img_1 {
    background-image: url(../img/mouse-img-1.jpg);
  }
  &__img_2 {
    background-image: url(../img/mouse-img-2.jpg);
  }
}

@media (min-width: 768px) {
  .mouse {
    &__img {
      height: 549px;
    }

    & .title {
      margin-right: 65px;
      margin-left: 67px;
    }
    
    &__text {
      padding-bottom: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .mouse {
    padding-top: 100px; 
    padding-bottom: 100px;

    display: flex;
    flex-wrap: wrap;

    & .title {
      margin: 0;
    }

    &__text, &__img {
      flex-basis: 50%;
    }

    &-center {
      padding-left: calc(50% - 655px);
      padding-right: calc(50% - 655px);
    }

    &__text_1 {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding: 37px;

      & .title {
        text-align: left;
        margin-bottom: 28px;
      }

      & p {
        text-align: left !important;
        padding: 0;
        width: 400px;
        font-size: 20px;
      }
    }
    &__text_2 {
      order: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      padding: 37px;

      & .title {
        text-align: right;
        margin-bottom: 28px;
        width: 317px;
      }

      & p {
        text-align: right !important;
        padding: 0;
        width: 350px;
        font-size: 20px;
      }
    }
    &__img_1 {
      order: 1;
    }
    &__img_2 {
      order: 4;
    }
  }
}