.programs {
  padding: 23px 22px 26px 29px;
  background-color: #c4c4c4;
  &__icons {
    display: flex;
    justify-content: space-between;
    width: 324px;
    margin: 0 auto 20px;
  }
  &__icon {
    height: 22px;
    width: auto;
  }
  & .text {
    padding-right: 11px;
    padding-left: 5px;
    color: #fff;
  }
}

@media (min-width: 768px) {
.programs {
  width: 749px;
  margin: 0 auto 70px;
  &__icons {
    width: 520px;
  }
  &__icon {
    height: 35px;
  }
  & .text {
    font-size: 20px;
  }
}
}

@media (min-width: 1024px) {
  .programs {
    margin-bottom: 100px;
  }
}